 body {
  padding: 0 30px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  margin: 0 20% 0;
  background: #ffffff url("img/Gal.png")  no-repeat top center;
  background-size: cover;
}


h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  color:rgb(255, 255, 255);
}

h2 {
  font-size: 20px;
  line-height: normal;
}

aside {
  margin: 20px 0;
  color: #c4c4c4;
}

p {
color:rgb(255, 255, 255);
}
.submenu {
  opacity: 0;
  visibility: visible;
}

pre,
code {
  background-color: #fafaff;
  border: 1px solid #c6c4f4;
  border-radius: 4px;
  color: #3632ad;
  font-family: "Courier New", "Courier", monospace;
}

pre {
  padding: 5px;
}

code {
  padding: 2px 5px;
}

pre code {
  background-color: transparent;
  border-radius: 0;
  border: none;
}


blockquote {
  padding-left: 14px;
  border-left: 2px solid #6a2cce;

  color: #6a2cce;
}

cite {
  color: #222222;
}

time {
  color: #6a2cce;
}

a[href] {
  color: #0099ef;
  text-decoration: underline;
}

del {
  color: #ff4400;
}

ins {
  color: rgb(105, 178, 83);
}

del,
ins {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}

.avatar {
  border-radius: 50%;
}

.avatar-container {
  text-align: center;
}
/* что было
.blog-navigation {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(68, 112, 196, 0.7);
  border: 5px solid #2d508f;
  color: #ffffff;
}
*/
.blog-navigation {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(87, 5, 150, 0.7);
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
}

.blog-navigation h2 {
  margin-top: 0;
}

.blog-navigation ul {
  list-style: none;
  padding-left: 0;
}

.blog-navigation li {
  margin-bottom: 5px;
}

.blog-navigation a {
  color: #ffffff;
}

.skills dd {
  margin: 0;
  margin-bottom: 10px;

  background-color: #e8e8e8;
}

.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}

.skills-level-ok {
  background-color: #47bb52;
}

.days {
  list-style: none;
  padding-left: 0;
}

/* рабочий фигур
figure {
  margin-left: 0;
  margin-right: 0;
} */

figure {
  display: inline-block; /* Выстраиваем по горизонтали */
  background: #74b5ff; /* Цвет фона */
  padding: 5px; /* Поля */
  margin: 0 1em 0 0; /* Отступ справа */
  vertical-align: top; /* Выравниваем по верхнему краю */
  color:rgb(0, 0, 0);
 }

figure img {
  vertical-align: middle;
  border: 8px solid rgb(183, 218, 255);
}

figcaption {

  object-fit: auto;
  width: 616px;
  padding-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-style: italic;
  text-align: center;
  background-color: rgb(183, 218, 255);
  
} 

.pagination a {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

.pagination {
  text-align: center;
  color: #888888;
}

.danger-text {
  color: #ff4400;
}

.danger-block {
  padding: 5px 10px;
  background-color: #423e3c;
}

.no-danger-block {
  padding: 5px 10px;
  background-color: #c6f5f0;
}

footer {
  margin-top: 30px;
  padding-top: 10px;
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
}

.page-title {
  color:rgb(255, 255, 255);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.partnership {
  margin: 30px 0;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #4a87fa;
  background-image: url("img/footer1.png");
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.italic {
  font-style: italic;
}

.imgm {
  width:100%;
  object-fit: cover;

 }

